<div class="row mt-2">
  {{#each links}}
    <div class="col-lg-4 col-md-6 mt-4">
      <div class="card text-center bg-dark text-light">
        <div class="card-body">

          <h2 class="card-title font-weight-bold display-4">
            <a class="text-decoration-none" href="{{url}}">{{title}}</a></h2>
          <p class="lead">{{description}}</p>

          <div class="row">
            <div class="col-sm-6 pt-3">
              <!-- DELETE REQUEST -->
              <form action="/links/delete/{{_id}}?_method=DELETE" method="post">
                <button
                  type="submit"
                  class="btn btn-danger btn-block lead font-weight-bold"
                >Delete</button>
              </form>
            </div>

            <!-- EDIT REQUEST --->
            <div class="col-sm-6 pt-3">
              <a href="/links/edit/{{_id}}" class="btn btn-secondary btn-block">Edit</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  {{else}}
    <div class="col-md-4 mx-auto">
      <div class="card card-body bg-dark text-light text-center">
        <h3>There are not links save yet.</h3>
        <a
          href="/links/new-link"
          class="mt-4 btn btn-success btn-block lead"
        >Create one!</a>
      </div>
    </div>
  {{/each}}
</div>